<footer>
    <div class="container">
        <div class="main-item col">
            <h4>zooBlog</h4>
            <p>Makes keeping your animals up to date...easy</p>
        </div>
        <div class="col">
            <h4>Docs</h4>
            <ul>
                <li>User Guide</li>
                <li>Extending</li>
                <li>Hippo Time</li>
            </ul>
        </div>
        <div class="col">
            <h4>Partnerships</h4>
            <ul>
                <li>Cabbage Supplier</li>
                <li>Scoops</li>
                <li>Back Scrubber</li>
            </ul>
        </div>
        <div class="col">
            <h4>Contributors</h4>
            <ul>
                <li>Hippo</li>
                <li>Elephant</li>
                <li>Ostrich</li>
            </ul>
        </div>
        <div class="col">
            <h4>Contact</h4>
            <ul>
                <li>+64 999 9999</li>
                <li>hippoman@zooblog.zoo</li>
                <li>zooblog.zoo</li>
            </ul>
        </div>
    </div>
</footer>
<div class="bottom-footer">
    <p>&COPY; 2020 zooBlog</p>
</div>
<script src="{{ site.baseurl }}/assets/hamburger.js"></script>
<script src="{{ site.baseurl }}/assets/doc-nav.js"></script>