<!doctype html>
<html lang="en">
 {% include head.html %}
  <body>
    {% include new-nav.html %}
    <div class="home-banner">
        <h1>{{ page.banner-title }}</h1>
        <p>{{ page.banner-subtitle }}</p>
        <img src="{{ site.baseurl }}{{ page.banner-image }}" alt="zooBlog">
    </div>    
    <div class="wrapper"> 
        <h1>{{ title }}</h1>
        <section class="main">
            <div class="flexpanel">
                <div class="col one">
                    <h2>{{ page.panel1-heading }}</h2>
                    <p>{{ page.panel1-text }}</p>
                </div>
                <div class="col two">
                    <img src="{{ site.baseurl }}{{ page.panel1-image }}">
                </div>
            </div>   
            <div class="flexpanel">
                <div class="col two">
                    <img src="{{ site.baseurl }}{{ page.panel2-image }}">
                </div>
                <div class="col one">
                    <h2>{{ page.panel2-heading }}</h2>
                    <p>{{ page.panel2-text }}</p>
                </div>
            </div>
            <div class="flexpanel">
                <div class="col one">
                    <h2>{{ page.panel3-heading }}</h2>
                    <p>{{ page.panel3-text }}</p>
                </div>
                <div class="col two">
                    <img src="{{ site.baseurl }}{{ page.panel3-image }}">
                </div>
            </div>  
        </section>
    </div>
    {% include testimonial.html %}
    {% include footer.html %}
  </body>
</html>